body {
    margin: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.todo-list {
    border-radius: 10px;
    background-color: #F2CB05;
    font-family: "Space Mono", monospace;
    padding: 16px;
    min-width: 550px;
    min-height: 300px;
}

.title {
    border-bottom: 1px solid #196774;
    font-size: 25px;
    font-family: "BioRhyme", serif;
    color: #196774;
}

.form {
    display: flex;
    justify-content: center;
} 

.form-input, .form-button {
    border-radius: 5px;
    padding: 12px;
    font-size: 12px;
    margin: 10px;
}

.form-input {
    width: 300px;
}


  
input:valid {
    border: 1px solid #FFFFFF;
    outline: 3px dashed ;
    box-shadow: 0 0 0 3px #35c6ea;
    animation: 1.8s animateBorder2 ease infinite;
}  

@keyframes animateBorder2 {
    to {
      outline-color: #D96941;
      box-shadow: 0 0 0 3px #2E5902;
      }
  }

input:invalid {
outline: 5px dashed #198774;
box-shadow: 0 0 0 6px #EA3556;
animation: 1.2s animateBorder ease infinite;
}

@keyframes animateBorder {
  to {
    outline-color: rgba(246, 241, 209, 0.1);
    box-shadow: 0 0 0 6px #FFFFFF;
    }
}

.form-button {
    border: 1px;
    background: #F6F1D1;
    color: #196774;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 4px;
}

.form-button:hover {
    color: #F2CB05;
    border-radius: 7px;
    margin-left: 4px;
    background: rgba(246, 241, 209, 0.1);
    background-color:  #196774;
   
}

.list {
    padding: 0;
    list-style: none;
    width: 100%;
}

.item {
    background-color: rgba(255, 255, 255, 0.1);
    color: #196774;
    background: #F6F1D1;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;    
    margin-bottom: 8px;
    padding: 10px 18px;
}

.check-button, .delete-button {
    color: #F2CB05;
    background-color: #196774;
    border: none;
    box-shadow: 0 0 8px rgba(21, 104, 97, 0.1);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;    
}

.check-button:hover {
    color: #196774;
    border: 2px solid #196774;
    background-color: #FFFFFF;
}
.delete-button:hover {
    color: #BF1304;
    border: 2px solid #BF1304;
    background-color: #FFFFFF;
}

.item.done .check-button {
    background-color: #46494C;
    color: #F6D1D1;
}

.check-icon {
    display: block;
    padding: 1px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
}

.item.done .check-icon {
    background-color: #27230b;
}

.content {
    margin: 0px;
}

p.content {
    margin-right: 10px;
    text-align: left;    
    width: 340px;
}

.item.done .content {
    text-decoration: line-through;
    color: #27230b;
}
